.custom-audio-player {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(53, 5, 61, 0.9);
}

.display-image-player {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 0rem 1rem;
}

.duration-range {
  filter: hue-rotate(25deg);
  width: 90%;
}

.duration-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 55%;
}

.volume-range {
  filter: hue-rotate(25deg);
  width: 10%;
}

.audio-btn {
  cursor: pointer;
  margin-right: 0.5;
}

@media (max-width: 768px) {
  .volume-range {
    display: none;
  }
  .custom-audio-player{
    padding: 1.5rem 0rem;
    width: 100%;
  }
}